<div class="px-4 py-5 my-5 text-center">
  <h1 class="h4">
    Opps, the page you are looking for does not exist or has been moved.
  </h1>
  <div class="col-lg-6 mx-auto">
    <small class=" mb-4">
      Please check the URL and try again. If you think this is an error, please
      contact the site administrator.
    </small>
    <br>
    <br>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/" class="btn btn-primary btn-lg px-4 gap-3"> Take me home </a>
    </div>
  </div>
</div>
