<main class="main p-0" *ngIf="product && !loading">
  <section class="nav-section">
    <div class="box">
      <app-tui-nav [company]="product.Company" />
    </div>
  </section>

  <app-mobile-back [text]="product.Name" />

  <section *ngIf="product" class="product-section">
    <div class="box">
      <!-- <app-bread [links]="links" [currentPage]="product.Name" /> -->
      <div class="spaced">
        <div class="image-section fade-in">
          <div class="product-images">
            <i
              [ngClass]="
                liked
                  ? 'bi bi-heart-fill like text-danger'
                  : 'bi bi-heart like text-dark'
              "
              (click)="onLike()"
            ></i>
            <i class="like share bi bi-share text-dark" (click)="onShare()"></i>
            <ng-container *ngFor="let item of product.Images; let i = index">
              <img
                [src]="item"
                [alt]="product.Name + ' image ' + (i + 1)"
                [ngClass]="imageClass"
                *ngIf="index === i"
              />
            </ng-container>
            <div class="navigator">
              <i
                (click)="prevImage()"
                title="Previous Image"
                class="bi bi-chevron-left"
              ></i>
              <i
                (click)="nextImage()"
                title="Next Image"
                class="bi bi-chevron-right"
              ></i>
            </div>
          </div>
          <div class="tiles">
            <ng-container>
              <img
                [src]="item"
                [alt]="product.Name + ' image ' + (i + 1)"
                [ngClass]="{ 'active-tile': index === i }"
                *ngFor="let item of product.Images; let i = index"
                (click)="index = i"
              />
            </ng-container>
          </div>
        </div>
        <div class="hero-text">
          <div>
            <h1 class="mb-1" [innerHTML]="product.Name"></h1>

            <div class="d-flex gap-3 align-items-center">
              <h3 class="text-left w-fit m-0">
                {{ product.RegularPrice | currency : "R" }}
                <span class="deposit-amount">
                  <small
                    *ngIf="product.RegularPrice"
                    class="text-muted d-block"
                  >
                    Deposit: {{ product.RegularPrice * 0.5 | currency : "R" }}
                  </small>
                </span>
              </h3>
              <h6
                class="text-left w-fit m-0 text-danger"
                style="font-weight: 400 !important"
                *ngIf="product.OldPrice"
              >
                <del>{{ product.OldPrice | currency : "R" }}</del>
              </h6>
            </div>

            <app-product-color [product]="product" />
          </div>
          <hr style="margin: 0" />
          <app-size
            (sizedSelected)="size = $event"
            (quantityChanged)="quantity = $event"
            (onMeasurementsCaptured)="onMeasurementsCaptured($event)"
            [product]="product"
            [selectedSize]="''"
            *ngIf="!isCustom"
          />
          <!-- <app-product-variation-options
          *ngIf="!isCustom && product.Variations"
            [variations]="product.Variations || []"
            (variationChange)="handleVariationChange($event)"
          ></app-product-variation-options> -->

          <app-input-error [errors]="errors" key="size" />

          <div class="d-flex gap-3 flex-wrap">
            <div class="d-flex gap-2 align-items-center" *ngIf="!isCustom">
              <app-main-qty [qty]="quantity" (qtyChange)="quantity = $event" />
              <button
                (click)="addToCart(product)"
                class="btn btn-primary px-4 d-flex align-items-center gap-3"
              >
                <i class="bi bi-plus-circle"></i>
                Add to Cart
              </button>
            </div>
            <div class="alert alert-warning p-4" role="alert" *ngIf="isCustom">
              This product is custom made. Please contact us to place an order.
              <a
                *ngIf="isCustom"
                class="btn btn-primary d-flex align-items-center gap-2 mt-3"
                [href]="whatsappLink"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-whatsapp"></i> Place order on WhatsApp
              </a>
            </div>
          </div>
          <p [innerHTML]="product.Description" *ngIf="product.Description"></p>
          <div class="mb-4"></div>
        </div>
      </div>
    </div>
  </section>
  <hr style="margin: 0" />
  <section
    class="mt-1 p-3"
    *ngIf="product && product.RelatedProducts && product.RelatedProducts.length"
  >
    <div class="box">
      <h5 class="mb-4">You may also like</h5>
      <div class="grid-4 fade-in">
        <app-product-card
          class="w-100 d-block"
          *ngFor="let p of product.RelatedProducts"
          [companySlug]="p.CompanyId"
          [product]="p"
        ></app-product-card>
      </div>
    </div>
  </section>
  <!-- <section *ngIf="categories">
    <div class="box">
      <h2 class="w-100 text-center">Explore different collections.</h2>
      <p class="text-center max-600 mb-4">
        Explore our wide range of products from different categories. Find the
        perfect piece for any occasion.
      </p>
      <app-top-collections slug="" [categories]="categories" />
    </div>
  </section> -->
</main>

<app-loading *ngIf="loading"></app-loading>
