.my-modal {
  height: 100vh;
  border-radius: 0 !important;
  overflow-y: auto;
  .cart-item {
    grid-template-columns: 70px auto !important;
    align-items: center;
  }
  .body,
  .hr {
    border-bottom: 1px solid #e0e0e0;
  }
  .text-danger {
    position: relative;
    top: -16px;
  }
}

label {
  font-size: 1rem;
  color: #999999;
}
.pl-3 {
  padding-left: 24px !important;
}
