<section class="nav-section bg-white box-shadow">
  <div class="box">
    <app-tui-nav />
  </div>
</section>
<main class="form-signin w-100 m-auto">
  <form>
    <h1 class="h4">Reset your password</h1>
    <p>Please create a new password for your account.</p>
    <div class="form-floating mb-2">
      <i
        class="bi see-pass"
        (click)="seePass = !seePass"
        [ngClass]="{ 'bi-eye': !seePass, 'bi-eye-slash': seePass }"
      ></i>
      <input
        [type]="seePass ? 'text' : 'password'"
        class="form-control"
        id="password"
        placeholder="New password"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="password"
        (input)="checkRules()"
        required
      />
      <label for="password">New password </label>
    </div>

    <div class="form-floating mb-1">
      <i
        class="bi see-pass"
        (click)="seePass2 = !seePass2"
        [ngClass]="{ 'bi-eye': !seePass2, 'bi-eye-slash': seePass2 }"
      ></i>
      <input
        [type]="seePass2 ? 'text' : 'password'"
        class="form-control"
        id="password"
        placeholder="Confirm password"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="password2"
        required
      />
      <label for="password">Confirm password </label>
    </div>

    <button
      type="submit"
      [disabled]="!password || !password2 || !allRulesValid"
      class="w-100 btn btn-primary mb-4"
      (click)="valiDateUser()"
    >
      <i class="bi bi-envelope"></i>
      Send reset link
    </button>

    <div class="rules">
      <h6>Password must :</h6>

      <p *ngFor="let item of rules">
        <i
          class="bi bi-check-circle-fill"
          [ngClass]="{
            'text-success': item.valid,
            'text-muted opacity-50': !item.valid
          }"
        >
        </i>
        {{ item.rule }}
      </p>
    </div>
    <!-- <a class="link-info d-block mt-4" [routerLink]="['/']"> Cancel </a> -->
  </form>
</main>
