<table class="table mb-5" *ngIf="measurements.length">
  <tbody>
    <tr>
      <td colspan="2"  class="td">
        <select [(ngModel)]="units" name="" id="" class="form-select"  (change)="onUnits()">
          <option [value]="u" *ngFor="let u of systemUnits">
            {{ u || "Select Units" }}
          </option>
        </select>
        <small class="text-danger w-100 text-left" *ngIf="unit_error">
            {{unit_error}}
        </small>

      </td>
    </tr>
    <tr *ngFor="let item of measurements; let i = index">
      <td style="width: 70%;">
        <input
          [ngModelOptions]="{ standalone: true }"
          type="text"
          class="form-control mb-3"
          id="email"
          [(ngModel)]="item.Name"
          [readOnly]="!can_edit"
          required
        />
      </td>
      <td>
        <div class="d-flex gap-1 align-items-center mb-3">
          <input
            [ngModelOptions]="{ standalone: true }"
            type="number"
            class="form-control"
            id="email"
            [(ngModel)]="item.Value"
            required
          />

          <i *ngIf="can_delete" class="bi bi-trash" (click)="delete(i)"></i>
        </div>
      </td>
    </tr>
    <tr *ngIf="can_add">
      <td colspan="2" align="right" class="td">
        <button class="btn btn-light" (click)="add_measurement()">
          Add Line
        </button>
      </td>
    </tr>
    <tr>
        <td colspan="2" align="right" class="td">
            <button class="btn btn-primary" (click)="onDone()">Done</button>
            <small class="text-danger d-block w-100 text-left" *ngIf="values_error">
                {{values_error}}
            </small>
        </td>
      </tr>
  </tbody>
</table>
