<div class="app-overlay" *ngIf="job">
  <div class="my-modal">
    <div class="d-flex align-items-center justify-content-between header w-100">
      <h4>Forgot Password</h4>
      <i class="bi bi-x-lg"  (click)="open(UX_MODALS.login)"></i>
    </div>

    <div class="actions">
      <h5 class="mb-3 mt-4">Let's help you recover your account.</h5>
      <div class="form-group">
        <label for="email">
          Enter your email address to receive password reset link.
        </label>
        <input
          type="email"
          class="form-control"
          id="email"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Email address"
          [(ngModel)]="email"
        />

        <button class="w-100 mb-2 btn btn-dark" (click)="send_link()">
          Send me a link
        </button>
        <br />

        <button class="btn link-info" (click)="send_link()">
          <small>
            Didn't receive the link?
            <span class="link-info">Resend</span>
          </small>
        </button>
      </div>
    </div>
  </div>
</div>
