form{
    max-width: 400px;
    margin: 120px auto;
}
.see-pass{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size:.8rem;
    color: #5378ff;
    z-index: 100;
    cursor: pointer;
}