:host {
    textarea {
      height: 8rem !important;
    }
    .form-control,
    .form-select {
      font-size: 14px !important;
      background: #f8f9fa !important;
      border-radius: 8px !important;
      border: 1px solid #ced4da !important;
      color: #495057 !important;
    }
  }
  