<section *ngIf="company">
  <div class="container">
    <h1 class="mt-5 h4 ">
      <i class="bi bi-building"></i> {{ company.Name }}
    </h1>
    <p class="mb-4">
      {{ company.Description }}
    </p>

  <div class="grid-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title
        text-left">Contact Details</h5>
        <p class="card-text">
          <strong>Company Name:</strong> {{ company.Name }}
        </p>
        <p class="card-text">
          <strong>Company Email:</strong> {{ company.Email }}
        </p>
        <p class="card-text">
          <strong>Company Phone:</strong> {{ company.Phone }}
        </p>
        

        </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title
        text-left">Address</h5>
        
        <p class="card-text">
          <strong>Company Address:</strong> {{ company.AddressLine }}
        </p>
        <p class="card-text">
          <strong>City:</strong> {{ company.City }}
        </p>
        <p class="card-text">
          <strong>Postal Code:</strong> {{ company.PostalCode }}
        </p>
    

        </div>
    </div>

  </div>
  </div>
</section>
