.breadcrumb {
  @media only screen and (max-width: 600px) {
    display: none !important;
  }
}

.phone-bread {
  display: none;
  padding: 8px 0 !important;
  margin-bottom: 24px !important;
  align-items: center;
  .bi {
    font-size: 0.555rem;
  }
  @media only screen and (max-width: 600px) {
    display: flex !important;
  }
}
