.my-modal {
  height: 100vh;
  border-radius: 0 !important;
  background: rgb(243, 243, 243);
  overflow-y: auto;

  .body {
    overflow-y: auto;
    max-height: 44vh;
    border-bottom: 1px solid #e0e0e0;
  }
}

.actions {
  margin: 0 12px !important;
  border-bottom: 1px solid #e0e0e0;
}
