<div *ngFor="let group of menu" class="mb-4">
  <div class="admin-kicker mb-2 px-2">{{ group.name }}</div>
  <div class="d-flex flex-column gap-1">
    <ng-container *ngFor="let item of group.items">
      <a *ngIf="item.url.startsWith('/store/admin')"
         class="admin-nav-item btn btn-sm text-start d-flex align-items-center gap-2"
         [class.active]="isMenuActive(item.url)"
         [routerLink]="item.url">
        <i [ngClass]="item.icon"></i>
        <span class="text-truncate">{{ item.name }}</span>
      </a>
      <a *ngIf="!item.url.startsWith('/store/admin')"
         class="admin-nav-item btn btn-sm text-start d-flex align-items-center gap-2"
         [href]="item.url">
        <i [ngClass]="item.icon"></i>
        <span class="text-truncate">{{ item.name }}</span>
      </a>
    </ng-container>
  </div>
</div>
