<section class="nav-section bg-white box-shadow">
  <div class="box">
    <app-tui-nav />
  </div>
</section>
<main class="form-signin w-100 m-auto">
  <form>
    <h1 class="h4">Forgot your password?</h1>
    <p>
      Don't worry! Enter your email address and we'll send you a link to reset
      your password.
    </p>
    <div class="form-floating mb-4">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Your email address"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <label for="name"> Your email address </label>
    </div>

    <button type="submit" class="w-100 btn btn-primary mb-2" (click)="valiDateUser()">
      <i class="bi bi-envelope"></i>
      Send reset link
    </button>
    <a
      class="link-info d-block mt-4"
      [routerLink]="['/home/sign-in', returnTo]"
    >
      Go back to login
    </a>
  </form>
</main>
