<div *ngIf="user && user.Company" class="admin-workspace">
  <app-admin-topbar [company]="user.Company" (logout)="logout()"></app-admin-topbar>

  <div class="container-fluid">
    <div class="row g-0">
      <!-- Sidebar desktop -->
      <app-admin-sidebar
        class="col-lg-2 d-none d-lg-block border-end bg-white admin-sidebar"
        [menu]="menu"
        [currentUrl]="currentUrl"
        (logout)="logout()">
      </app-admin-sidebar>

      <!-- Offcanvas mobile -->
      <app-admin-offcanvas-nav
        class="offcanvas offcanvas-start d-lg-none"
        id="adminOffcanvas"
        tabindex="-1"
        aria-labelledby="adminOffcanvasLabel"
        [menu]="menu"
        [company]="user.Company"
        [currentUrl]="currentUrl"
        (logout)="logout()">
      </app-admin-offcanvas-nav>

      <!-- Main -->
      <main class="col-12 col-lg-10">
        <div class="admin-content p-0 p-md-4">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>

  <!-- Mobile bottom navigation (Home / Jobs / Customers / More) -->
  <app-admin-bottom-nav [currentUrl]="currentUrl"></app-admin-bottom-nav>

  <app-admin-toast></app-admin-toast>
  <app-admin-confirm-modal></app-admin-confirm-modal>
</div>
