<ng-container *ngIf="user && user.Company">
  <header
    class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
  >
    <a
      class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6"
      href="/store/admin"
    >
      {{ user.Company.Name }}</a
    >
    <button
      class="navbar-toggler position-absolute d-md-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <input
      class="form-control form-control-dark w-100 rounded-0 border-0"
      type="text"
      placeholder="Search"
      aria-label="Search"
    /> -->
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse p-4 mt-4"
      >
      <div class="mt-4"></div>
        <div *ngFor="let group of menu" class="item-group">
          <h6 class="text-info">
            {{ group.name }}
          </h6>
          <div
            *ngFor="let item of group.items"
            class="d-flex justify-content-between align-items-center item"
          >
            <a class="my-0 nav-link" [href]="item.url" [ngClass]="{ active: item.url === current_url }">
              <span class="icon">
                <i [ngClass]="item.icon"></i>
              </span>
              {{ item.name }}
            </a>
          </div>
        </div>

        <!-- <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let item of menu">
              <a
                class="nav-link"
                [ngClass]="{ active: item.url === current_url }"
                aria-current="page"
                [href]="item.url"
              >
                <i [ngClass]="item.icon"></i> {{ item.name }}
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="logout()"
                aria-current="page"
                href="javascript:void(0)"
              >
                <i class="bi bi-box-arrow-right"></i> Logout
              </a>
            </li>
          </ul>
        </div> -->
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 white">
        <div class="mt-4">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</ng-container>

<div
  class="toast slide-from-top"
  *ngIf="ux && ux.Toast && ux.Toast.Message"
  role="alert"
  [ngClass]="ux.Toast.Classes"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="toast-header">
    <strong class="me-auto">
      <i class="bi bi-info-fill"></i> {{ ux.Toast.Title }}
    </strong>
    <button
      (click)="clearToast()"
      type="button"
      class="btn-close"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
  <div class="toast-body">
    {{ ux.Toast.Message }}
  </div>
</div>

<div
  *ngIf="ux && ux.Confirm && ux.Confirm.Show"
  class="app-overlay d-flex d-flex gap-2 align-items-center justify-content-center"
>
  <div class="card fade-in" style="width: 80%; max-width: 300px">
    <div class="card-header">
      <h5 class="card-title">
        {{ (ux && ux.Confirm && ux.Confirm.Title) || "Please confirm" }}
      </h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{ (ux && ux.Confirm && ux.Confirm.Message) || defaultConfirm }}
      </p>
      <button
        (click)="uxService.onConfirm(true)"
        class="btn btn-primary mb-1 w-100"
      >
        Yes
      </button>
      <button (click)="uxService.onConfirm(false)" class="btn btn-light w-100">
        No
      </button>
    </div>
  </div>
</div>
