// .image-container {
//     position: relative;
//     height: 50px; /* Adjust the height as needed */
//   }
  
//   img {
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     border: 2px solid #000; /* Adjust the border color as needed */
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   }
  
img{
    width: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}