<!-- <div class="input-group mb-3" style="max-width: 170px">
  <button
    (click)="decrement()"
    class="btn btn-white border border-secondary round-0 px-3"
    type="button"
    id="button-addon1"
    data-mdb-ripple-color="dark"
  >
    <i class="bi bi-dash-lg"></i>
  </button>
  <input
    type="number"
    class="form-control text-center border border-secondary round-0"
    placeholder="1"
    [(ngModel)]="qty"
    aria-label="Example text with button addon"
    aria-describedby="button-addon1"
  />
  <button
    (click)="increment()"
    class="btn btn-white border border-secondary px-3 round-0 btn-sm"
    type="button"
    id="button-addon2"
    data-mdb-ripple-color="dark"
  >
    <i class="bi bi-plus"></i>
  </button>
</div> -->

<div class="d-flex gap-1 qty-main align-items-center">
  <button (click)="decrement()">
    <i class="bi bi-dash"></i>
  </button>
  <input
    type="number"
    [(ngModel)]="qty"
    class="form-control text-center"
    placeholder="1"
  />
  <button (click)="increment()">
    <i class="bi bi-plus"></i>
  </button>
</div>
