:host{
    .active{
        background: rgb(79, 79, 79);
        border-radius: 12px !important;
        border-color: rgb(79, 79, 79) !important;
    }

    .btn{
        border-radius: 12px !important;
        border-color: rgb(79, 79, 79) !important;
        margin-top:40px !important;
        display: block !important;
    }
}