<!-- Modern Profile Job Item -->
<div class="profile-job-item" *ngIf="jobItem && job">
  <div class="item-image">
    <img
      [src]="jobItem.FeaturedImageUrl"
      [alt]="jobItem.ItemName"
      *ngIf="jobItem.FeaturedImageUrl"
    />
    <div class="image-placeholder" *ngIf="!jobItem.FeaturedImageUrl">
      <i class="bi bi-image"></i>
    </div>
  </div>

  <div class="item-details">
    <h6 class="item-name">{{ jobItem.ItemName }}</h6>
    <div class="item-specs">
      <span class="item-size">
        <i class="bi bi-rulers"></i>
        Size: {{ jobItem.Size }}
      </span>
      <span class="item-quantity">
        <i class="bi bi-box"></i>
        Qty: {{ jobItem.Quantity }}
      </span>
    </div>
    <div class="item-price">
      {{ jobItem.UnitPrice * jobItem.Quantity | currency : "ZAR" : "symbol" : "1.2-2" }}
    </div>
  </div>
</div>
