.table{
    .form-control,.form-select{
        font-size: .8rem !important;
        padding: 4px 8px !important;
    }
    .bi-trash{
        margin-left: auto !important;
        color: red;
    }
}