.carousel-control-next-icon,.carousel-control-prev-icon{
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(41, 41, 41);
}
