.user {
  grid-template-columns: 50px auto !important;
  align-items: center;
  background: white;
  padding: 12px;
  border-radius: 12px !important;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

  p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px;
    font-weight: 500;
  }
}
.text-bold {
  font-weight: 700;
  color: rgb(72, 65, 216);
  font-size: 14px;
}
.btn-light{
  background: rgb(239, 239, 239);
  padding: 4px !important;
}