<div class="app-overlay" *ngIf="user">
  <div class="my-modal full-height">
    <app-modal-header-home
      title="Change Password"
      (onClose)="uxService.show_modal(UX_MODALS.profile)"
      [show_x]="false"
    />
    <div class="actions">
      <form>
        <app-input
          label="Password"
          type="password"
          [value]="oldPassword"
          placeholder="Old Password"
          (inputChanged)="oldPassword = $event"
        />

        <app-input
          label="Password"
          type="password"
          [value]="newPassword"
          placeholder="New Password"
          (inputChanged)="newPassword = $event"
        />
        <button type="submit" class="w-100 btn btn-dark mb-2" (click)="updatePassword(UX_MODALS.profile)">
          Update Password
        </button>
      </form>
    </div>
  </div>
</div>
