/* order-success.component.css */
.card {
  border-radius: 0.5rem;
}

// .order-summary,
.order-items {
  text-align: left;
  max-width: 400px;
    margin: 0 auto;
}

img.img-fluid {
  width: 100%;
}

.bi-check-circle{
    font-size: 5rem;
}