.cart-item {
    grid-template-columns: 50px auto !important;
    align-items: center;
    background: white;
    padding: 4px 8px;
    border-radius: 12px !important;
    box-shadow:  0 0 4px 0 rgba(0, 0, 0, 0.1);
  }