<!-- Modern Customer Job Items List -->
<div class="customer-job-items" *ngIf="job">
  <div class="items-list">
    <div *ngFor="let jobItem of job.JobItems" class="customer-job-item">
      <div class="item-image">
        <img [src]="jobItem.FeaturedImageUrl" [alt]="jobItem.ItemName" class="img-fluid" />
      </div>
      <div class="item-details">
        <h6 class="item-name">
          {{ jobItem.Quantity }} x {{ jobItem.ItemName.substring(0, 30) }}{{ jobItem.ItemName.length > 30 ? '...' : '' }}
        </h6>
        <div class="item-meta">
          <span class="item-price">{{ jobItem.UnitPrice * jobItem.Quantity | currency : "ZAR" : "symbol" : "1.2-2" }}</span>
          <span class="item-size">Size: {{ jobItem.Size }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
