$edges: 18px;
.app-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7b7b7bbb;
  z-index: 1000000000000;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  //   display: none;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: flex-end;
  }

  .my-modal {
    background: white;
    animation: slideFromRight 0.25s ease-in-out forwards;
    border-radius: 0 !important;
    min-width: 500px ;

    @media only screen and (max-width: 600px) {
      animation: slideFromBottom 0.25s ease-in-out forwards;
      width: 100%;
      border-radius: $edges $edges 0 0 !important;
      min-width: 100%;
    }

    .body,
    .header,
    .actions {
      padding: 12px;
    }
    .header {
      border-bottom: 1px solid #e0e0e0;
      position: sticky;
      top: 0;
      background: white;
      z-index: 1000000000000;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .body {
      max-height: 50vh;
      overflow-y: auto;
      .cart-item {
        display: grid;
        grid-template-columns: 100px auto;
        margin-bottom: 12px;
        img {
          width: 100%;
          border: 1px solid #e0e0e0;
          border-radius: 8px !important;
        }
        .price {
          font-weight: 600;
          color: #3b71ca;
        }
      }
    }
    
.btn {
  border-radius: 8px !important;
  padding: 12px !important;
}

  }
  .full-height {
    height: 100vh;
    overflow-y: auto;
    border-radius: 0 !important;
    animation: slideFromRight 0.25s ease-in-out forwards;
  }
}
.border-right {
  border-right: 2px solid #aba9a9 !important;
  padding-right: 10px !important;
  margin-right: 10px !important;
}

.delete {
  margin-left: auto !important;
}




/* category-selector.component.scss */
._overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000000000;
  @media only screen and (max-width: 600px) {
    // fix to bottom
    align-items: flex-end;
  }

  ._modal {
    background: #fff;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;

    position: relative;
    ._header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      position: sticky;
      background: #000000;
      color: white;
      padding: 12px;

      top: 0;
      h2 {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    ._body {
      max-height: 80vh;
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 20vh;
    }

    ._close {
      cursor: pointer;
      font-size: 20px;
      padding: 10px 40px;
      text-align: right;
    }
  }
}

