
<div class="container py-5">
    <h1 class="h3 fw-bolder">
      Tybo Fashion: Showcasing Local Talent with High-Quality Clothing
    </h1>
    <p class="col-md-8 fs-4">
      Welcome to Tybo Fashion, the premier platform dedicated to bringing you the
      finest clothing designed by talented local fashion designers. At Tybo
      Fashion, we believe in celebrating creativity, supporting local talent, and
      providing our customers with seamless shopping experiences.
    </p>
    <button class="btn btn-primary btn-lg" type="button">Example button</button>
  </div>