<div class="chip-wrapper mb-3">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <label>{{ label }}</label>
    <i class="bi bi-list" (click)="openPanel()" style="cursor: pointer"></i>
  </div>

  <div class="chip-input">
    <ng-container *ngFor="let id of selected">
      <span class="chip">
        {{ getName(id) }}
        <button (click)="remove(id)" style="margin-left: 12px; cursor: pointer">
          <i class="bi bi-x"></i>
        </button>
      </span>
    </ng-container>
  </div>
</div>

<!-- Panel -->

<!-- Inside Panel -->
<div class="app-overlay" *ngIf="panelOpen">
  <div class="my-modal cloud full-height">
    <app-admin-modal-header [title]="label" (onClose)="closePanel()" />

    <div class="p-3">
      <div class="d-flex">
        <input
          type="search"
          class="form-control mb-3"
          placeholder="Search..."
          [(ngModel)]="search"
        />
      </div>

      <app-add-widget
        [title]="'Add New ' + label"
        placeholder="Enter new {{ label.toLowerCase() }}"
        saveText="Add"
        (add)="onNewItem($event)"
      ></app-add-widget>

      <div class="wrapped">
        <div
          *ngFor="let opt of filteredOptions; trackBy: trackByOption"
          class="d-flex gap-2 align-items-center form-control pointer mb-2 wrapped-item"
        >
          <input
            type="checkbox"
            [checked]="isChecked(opt.id)"
            (change)="toggle(opt.id)"
            id="{{ opt.id }}"
          />
          <label class="d-block w-100 pointer" for="{{ opt.id }}">{{
            opt.name
          }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
