<div
  id="tyboSlider"
  *ngIf="company && company.Metadata && company.Metadata.Slides?.length"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="2000"
>
  <div class="carousel-inner">
    <a
      *ngFor="let item of company.Metadata.Slides; let i = index"
      [href]="item.Link"
      class="carousel-item"
      [ngClass]="{ active: i === 0 }"
    >
      <img [src]="item.Image" class="d-block w-100" alt="Slide image" />
    </a>
  </div>
  <button
    *ngIf="company.Metadata.Slides.length > 1"
    class="carousel-control-prev"
    type="button"
    data-bs-target="#tyboSlider"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    *ngIf="company.Metadata.Slides.length > 1"
    class="carousel-control-next"
    type="button"
    data-bs-target="#tyboSlider"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
